<h1 class="display-4 text-center">
  Daterange
</h1>

{{code-snippet name="ui-daterange.hbs"}}
<label>Date Range</label>
{{!-- BEGIN-SNIPPET ui-daterange --}}
{{ui-daterange
  locale='pt'
  altFormat='d-m-Y'
  dateValue=defaultDate
}}
{{!-- END-SNIPPET --}}
<label>Input Value</label>
{{defaultDate}}
