<div class="text-justify">
  <h1 class="display-4 text-center">UI Components</h1>
  <h5 >Why this addon exists?</h5>
    <p>
      The ember community can be small, but it's a greate community and one benefits of use Open Source Software (OSS) is because you don't have reinvente the well each time.
    </p>
    <p>
      The <a href="https://emberjs.com/">ember framework</a> as the slogan that it's a framework to <q cite="https://emberjs.com/">A framework for <b>ambitious</b> web developers.</q>
      This is really true, but for begginers this is a little hard to get started and combine all addons for make a good UI.
      Because of that, we at <a href="http://maestrosales.com.br/">MaestroSales</a> decide to make this UI Kit from commun patterns and addons used in our projects.
    </p>
    <p>
      Please keep in mind that this is a working in progress and a lot can change until we release a official version.
    </p>


  <h5>Why should I use this addon?</h5>
    <p>
      This addon uses some of the best addon in the  <a href="https://emberobserver.com/">Ember Observer</a> ecosystem. So if you don't want to waste time testing addons and find a away to make all work together and you don't need to customize too much you app. You should use it.
      If you need to make some UI component that this addon doesn't have You can just call one of the addon included or make your own, it's only up to you decide.
    </p>
</div>
{{#link-to 'button' class="nav-link" }}
  Button
{{/link-to}}
