<h3 class="display-4 text-center">Table</h3>
<p>
  We use a subset of functions in <a href="http://offirgolan.github.io/ember-light-table/">Ember Light Table</a>
</p>
{{ui-table columns=columns modelName='user'}}
